@media (min-width: 950px) {
	.container{
	    max-width: 950px;
	}
}

/*FONT*/
@font-face {
  font-family: 'NanumBarumGothic';
  src: url('../font/NanumBarunGothic.eot');
  src: url('../font/NanumBarunGothic.woff') format('woff'), url('../font/NanumBarunGothic.ttf') format('truetype');
  
  /* IE9 Compat Modes */
}
@font-face {
  font-family: 'NanumGothic';
  src: url('../font/NanumGothic.eot');
  src: url('../font/NanumGothic.woff') format('woff'), url('../font/NanumGothic.ttf') format('truetype');
  
  /* IE9 Compat Modes */
}

/*MISC*/
.light-btn {
	padding: 5px 30px;
	border: 1px solid white;
	font-size: 16px;
	color: white; font-weight: bold;
}

/*SLIDER*/
.flex-control-nav-slogan{pointer-events: none;}
.top-section { position: relative; }

.spc-new {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: 1000;
}

.spc-new {
	pointer-events: none;
}

.spc-new-prev {background: url("../img/0.main/slide_left_bt.png")}
.spc-new-next {background: url("../img/0.main/slide_right_bt.png")}
.spc-new-middle {width: 100%; padding: 0;}

.spc-new-prev, .spc-new-next {
	pointer-events: auto;
	display: inline-block;
	width: 54px; height: 54px;
}

.spc-new-container {
	width: 100%; height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.flex-control-nav > li > a {
	background: url("../img/0.main/slide_bt.png");
	width: 12px; height: 12px;
	box-shadow: none;
}

.flex-control-nav > li > a.flex-active {
	background: #CA443F;
}

.flex-direction-nav {
	display: none;
}

/*TYPO*/
html, body{
  overflow-x: hidden;
}
body {
  font-family: 'NanumGothic', Helvetica, sans-serif;
  /*overflow-x: hidden;*/
  /*letter-spacing: -2px;*/
}

/*SOCIAL*/ 
.social {
	background: #ededed;
	padding: 10px 0;
}

.social-list {
	margin: 0; padding: 0;
}

.social-item {
	display: inline-block;
}

.social-item + .social-item {
	margin-left: 42px;
}

.social-label {
	display: table-cell;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
}

/*MAIN*/
@media (max-width: 990px) {
	.main > .container {
		padding: 0;
		width: 100%;
	}

}

.main-block {
	color: white;
	padding: 30px 20px;
}

.main-block-label {
	font-weight: bold;
	font-size: 20px;
}

.main-block-red {
	background: #C25448;
}

.main-block-gray {
	background: #414141;
}

.main-block-blue {
	background: #414A68;
}

.main-block-yellow {
	background: #F1CE73;
}

.main-center {
	padding: 0 15px 30px 15px;
}

.main-center-label { 
	font-size: 36px; 
	font-weight: bold;
	letter-spacing: -2px;
	padding-bottom: -14px;
}
.main-center-des { 
	font-size: 16px; 
	margin-top: -10px;
	margin-bottom: 10px;
}

.main-center-pusher {
	height: 110px;
}

.main-button {
	background: #DA312F;
	color: white;
	border: none;
	display: inline;
	padding: 10px 35px;
}

/*POST BLOCKS*/
@media (max-width: 990px) {
	.pb-block + .pb-block {
		margin-top: 20px;
	}
}

.pb {
	padding: 52px 0 85px 0;
}

.pb-label {
 	font-size: 30px;
 	font-weight: bold;
 }

 .pb-watch-more-btn {
	background: white;
	border: 1px solid #C7C6C4;
	padding: 0 10px;
 }

.pb-title-bar {padding-bottom: 52px;}

.pb-content {
	padding: 0 10px 0 10px;
}

.pb-block-bottom {padding: 10px 5px 32px 5px;}
.pb-block-border {border: 1px solid #C7C6C4;}
.pb-block-bottom-label {
	font-size: 20px;
	font-weight: bold;
}

.pb-block {
  padding-right:5px;
  padding-left:5px;
}

.pb-block-top {position: relative;}
.pb-block-top-overlay {
	position: absolute;
	top: 0; left: 0;
	background: rgba(0,0,0,.5);
	z-index: 1000;
	width: 100%; height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
}
.pb-block-top-overlay-content {
	max-width: 90%;
}
.pb-block:hover .pb-block-top-overlay {display: flex;}

/*NEWS*/
.news {
	background: #F8F7F5;
}

/*THINK*/
.think-item { 
	border: 1px solid #C7C6C4;
	margin: 0;
	padding: 20px 10px;
}

.think-item-label {
	font-size: 22px;
	letter-spacing: -1px;
	font-weight: bold;
}

.think-item + .think-item {
	margin-top: 15px;
}